.root{
    -fx-background-color: #F5FDC6;
    -fx-padding: 20;
    -fx-font-family: "Segoe UI";
}

.label{
    -fx-text-fill: #41521F;
}

.text-field{
    -fx-background-color: #F5C396;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.combo-box{
    -fx-background-color: #F5C396;
    -fx-background-radius: 10;
}

.button{
    -fx-background-color: #D0B17A;
    -fx-text-fill: #41521F;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
}

.button:hover{
    -fx-background-color: #A89F68;
}

#titulo{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}